$primary-color: #FFC107;
$primary-color-dark: #FFA000;
$inactive-color: #FFECB3;
$text-color: #212121;
$secondary-text-color: #757575;
$light-text-color: #FFFFFF;
$border-color:#BDBDBD;
$border-radius: 8px;
$dark-bg-color: #212121;
$light-bg-color: #FFFFFF;

$error-color: #FFEB3B;
$success-color: #4CAF50;    
$info-color: #FFEB3B;


$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;