@import "./_variables2.css";

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  color: var(--text-color);
  min-height: 100vh;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 16px;
}

.link {
  text-decoration: none;
  color: var(--primary-color);

  &:hover {
    color: var(--primary-color-dark);
    text-decoration: underline;
  }
}

.notification {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 8px;

  background-color: var(--success-color);
  color: var(--light-text-color);
  border-left: 8px solid #449d48; /* fallback for "darken" effect */
  font-size: 20px;

  &.error {
    background-color: var(--error-bg);
    border-color: #e63030; /* fallback for "darken" effect */
  }
}

.notFound {
  padding-top: 20%;
  text-align: center;
  font-size: 24px;
}
