/* CSS Reset */
@import "variables.scss";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  color: #333333;

  min-height: 100vh;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 16px;
}

.link {
  text-decoration: none;
  color: $primary-color;

  &:hover {
    color: $primary-color-dark;
    text-decoration: underline;
  }
}
