/* CSS Reset */
@import "variables.scss";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  color: $text-color;

  min-height: 100vh;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 16px;
}

.link {
  text-decoration: none;
  color: $primary-color;

  &:hover {
    color: $primary-color-dark;
    text-decoration: underline;
  }
}

.notification {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 8px;

  background-color: $success-color;
  color: $light-text-color;
  border-left: 8px solid darken($success-color, 10%);
  font-size: 20px;

  &.error {
    background-color: $error-bg;
    border-color: darken($error-bg, 10%);
  }
}

.notFound {
  padding-top: 20%;
  text-align: center;
  font-size: 24px;
}
