.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 0;
  margin-bottom: 16px;
}

.title {
  color: var(--primary-color);
  font-size: 18px;
}

.navList {
  display: flex;
  list-style: none;
}

.navLink {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  margin-left: 20px;

  &:hover {
    color: var(--primary-color-dark);
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 24px;
  }
}
