@use "styles/variables" as *;

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid $border-color;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;

  &:focus {
    border-color: $primary-color;
    outline: none;
    box-shadow: 0 0 0 3px $primary-color-dark;
  }
}
